/* General styling */
body{
margin: 2% 10%;
}

/* Navbar styling */
.navbar{
background-color: #08273d;
border: 0.2rem solid #ececec;
border-radius: 3px;
position: relative;
padding: 1rem;
margin-right: 0;
margin-left: 0;
}

.navbar-brand:link{
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 1.1rem;
}

.icon-navbar{
position: relative;
bottom: 2px;
right: 5px;
}

/* Loading styling */
@media only screen and (min-width: 769px) { 
.chart-unity{
margin: 0 2.5% 0 0;
}
}

@media only screen and (max-width: 768px) { 
.chart-unity{
margin: 0 0 5% 0;
}
}

.chart > h1{
font-size: 1rem;  
}

.blink {
    animation: blink 1.2s steps(1, end) infinite;
    min-height: 50vh;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /* Chart styling */
  .chart{
    margin: 0 2%;
  }
 
  @media only screen and (min-width: 769px) { 
  .item-container{
    display: flex;
    justify-content: center;
    min-height: 50vh;
  }
  }

  .item-container{
    text-align: -webkit-center;
    text-align: -moz-center;
    height: 60vh;
  }

  .updates-info{
    font-size: 12px;
    color: #7e7e7e;
  }

  .icon-chart{
    position: relative;
    top: 3px;
    right: 5px;
  }

  .pieChart{    
    height: 35vh;
  }

  @media only screen and (min-width: 769px) { 
  .pieChart{
    position: absolute;
    top: 35%;
  }
  }

  text{
    font-size: 0.4rem;
    color: black;
  }

  /* Card styling */
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: #7e7e7e;
    width: 13rem;
    height: 5rem;
  }

  .card-header{
  padding: 10px;
  align-self: center; 
  display: flex;
  font-size: 1rem;
  }

  .card-body{
  padding: 10px;
  align-self: center; 
  font-size: 1rem;
  }

  /* Footer styling */
  .footer{
    padding: 0.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .footer-info{
  display: flex;
  font-size: 0.6rem;
  color: #08273d;
  }

  .icon-footer{
  position: relative;
  top: 3px;
  right: 5px;
  font-size: 24px !important;
  }